@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en" ng-app="synopsis">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Synopsis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/synopsis.css"/>
</head>
<body>
<div class="container" ng-controller="SynopsisController">
	<section class="url-form row">
		<div class="col-xs-12">
			<form name="urlForm" ng-submit="request(urlForm.$valid)">
				<label for="url">Url to Retrieve:</label>
				<div class="input-group">
					<input id="url" type="text" class="form-control" placeholder="Type a URL to get a synopsis of" ng-model="url" required />
					<span class="input-group-addon" ng-show="loading">
						<img src="/img/spinner.gif" alt="Loading..."/>
					</span>
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default" aria-label="Search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
			<div class="alerts">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center">
					<span class="glyphicon glyphicon-alert" aria-hidden="true" ng-show="{{alert.type == 'danger'}}"></span>
					<img src="/img/spinner.gif" alt="Loading..." ng-show="{{alert.loading}}" />
					{{alert.msg}}
				</alert>
			</div>
		</div>
	</section>

	<section class="well results" ng-show="showResults">
		<div class="row">
			<div class="col-xs-6">
				<h3>Images</h3>
				<carousel interval="5000">
					<slide ng-repeat="imgUrl in images">
						<img ng-src="{{imgUrl}}" />
					</slide>
				</carousel>
			</div>
			<div class="col-xs-6">
				<h3>Top Ten Words</h3>
				<ol>
					<li ng-repeat="word in words">{{word.word}}: {{word.count}}</li>
				</ol>
			</div>
		</div>
	</section>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/js/synopsis.js"></script>
</body>
</html>
