.url-form {
	margin-top: 10em;
}

/* Alerts */
.alerts {
	margin-top: 1em;
}

/* Results Section */
.results {
	margin-top: 1em;
}
.results h3 {
	margin-top: 0;	
}
.results .carousel img {
	width: 100% !important;
	margin: auto;
}

.top-words table {
	width: 100%
}